:root {
  --maincolors: #27ae62;
}

* {
  text-transform: capitalize;
}

.in {
  left: 0 !important;
}

.selection-box {
  position: fixed;
  top: 100px;
  z-index: 9999;
  left: -150px;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
.selection-box .color-box {
  width: 150px;
  height: 70px;
  background-color: #4a4a4a;
  float: left;
  padding-left: 10px;
}
.selection-box .color-box ul li {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 5px;
  cursor: pointer;
}
.selection-box .color-box ul li:first-of-type {
  background-color: #27ae62;
}
.selection-box .color-box ul li:nth-of-type(2) {
  background-color: #c33e26;
}
.selection-box .color-box ul li:nth-of-type(3) {
  background-color: #2778ae;
}
.selection-box .color-box ul li:nth-of-type(4) {
  background-color: #ae2744;
}
.selection-box .color-box h4 {
  color: white;
}
.selection-box .gear-icon {
  cursor: pointer;
  float: left;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.selection-box .gear-icon i {
  background-color: var(--maincolors);
  border: 1px solid var(--maincolors);
  color: white;
  padding: 2px 4px;
}

.navbar {
  border-radius: 0px 0 0 40px;
}

.navbar-inverse {
  border: 1px solid #101b24;
}
@media (max-width: 768px) {
  .navbar-inverse {
    overflow: hidden;
  }
}
.navbar-inverse .navbar-header .navbar-brand {
  font-size: 25px;
  color: #fff;
}
.navbar-inverse .navbar-header .navbar-brand::first-letter {
  color: var(--maincolors);
  background-color: #1c2e3d;
  padding-left: 9px;
  border-radius: 50% 0 0 50%;
}
.navbar-inverse .navbar-header .navbar-brand:hover, .navbar-inverse .navbar-header .navbar-brand:focus {
  color: var(--maincolors);
}
.navbar-inverse .navbar-nav > li {
  font-size: 17px;
}
.navbar-inverse .navbar-nav > li a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li:hover {
  background-color: rgba(29, 41, 53, 0.8);
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: var(--maincolors);
}
.navbar-inverse .navbar-nav > .active > a:hover {
  opacity: 0.8;
}
.navbar-inverse .dropdown-menu {
  background-color: #101b24;
  border-top: 3px solid var(--maincolors);
  min-width: 200px;
}
.navbar-inverse .dropdown-menu .divider {
  height: 2px;
  background-color: var(--maincolors);
}
.navbar-inverse .dropdown-menu > li > a {
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: padding 0.2s ease-in;
  -moz-transition: padding 0.2s ease-in;
  -o-transition: padding 0.2s ease-in;
  -ms-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in;
}
.navbar-inverse .dropdown-menu > li:hover a {
  color: #101b24;
  padding-left: 30px;
}

@media (min-height: 520px) {
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }

  .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
  }
}
#carousel-example-generic .carousel-inner > .item > img {
  width: 100%;
}
#carousel-example-generic .carousel-inner > .item .carousel-caption {
  top: 35%;
  line-height: 1.7 !important;
}
@media (max-height: 500px) {
  #carousel-example-generic .carousel-inner > .item .carousel-caption {
    top: 200px;
  }
}
#carousel-example-generic .carousel-inner .carousel-control span.glyphicon-chevron-left, #carousel-example-generic .carousel-inner .carousel-control span.glyphicon-chevron-right {
  color: var(--maincolors);
}
#carousel-example-generic .carousel-indicators li {
  border: 2px solid white;
  width: 15px;
  height: 15px;
}
#carousel-example-generic .carousel-indicators li.active {
  background-color: var(--maincolors);
  width: 15px;
  height: 15px;
}

.features {
  padding: 70px 0;
}
.features .fleex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}
.features .fleex .feat {
  width: 250px;
  margin-bottom: 30px;
  text-align: center;
  margin: 0 15px;
}
.features .fleex .feat .fimg span {
  font-size: 50px;
  color: var(--maincolors);
}
.features .fleex .feat .finfo h3 {
  margin: 7px;
}
.features .fleex .feat .finfo p {
  font-size: 18px;
  text-align: justify;
}
@media (min-width: 991px) and (max-width: 1199px) {
  .features .fleex {
    justify-content: space-between;
  }
}

.testi {
  padding: 70px 0;
  background-image: url("../images/tbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.testi h2 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin: 0 0 30px;
}
.testi .carousel-inner {
  min-height: 170px;
}
@media (max-width: 630px) {
  .testi .carousel-inner {
    min-height: 310px;
  }
}
.testi .carousel-inner .item q {
  line-height: 1.7;
  text-align: center;
}
.testi .carousel-inner .item span {
  color: var(--maincolors);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.testi .carousel-indicators {
  margin: 10px auto 0;
  position: static;
  width: 100%;
}
.testi .carousel-indicators li {
  width: 70px;
  height: 70px;
  margin: 0 5px;
  text-indent: 0;
  background-color: none;
  border-radius: 50%;
  border: 4px solid #572BA6;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0.5;
}
.testi .carousel-indicators li img {
  max-width: 100%;
}
.testi .carousel-indicators li.active {
  opacity: 1;
  border: 4px solid var(--maincolors);
}

.prices {
  padding: 50px 0 70px;
  background: linear-gradient(to right, #134e5e, #71b280);
}
.prices .container > h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 0;
  color: #ddd;
}
.prices .price-con {
  border: 3px solid #134e5e;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #9ec3af;
}
.prices .price-con h3 {
  font-weight: bold;
}
.prices .price-con span {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background: #585858;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0px solid #485f51;
  line-height: 80px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.prices .price-con span:hover {
  border: 4px solid var(--maincolors);
  line-height: 72px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.prices .price-con ul {
  line-height: 1.8;
}
.prices .price-con ul li {
  font-size: 16px;
}

.workers {
  background: url(../images/tbg.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 70px 0;
  color: #eee0e0;
}
.workers .worker {
  margin-bottom: 20px;
}
.workers .worker img {
  max-width: 70%;
  border-radius: 50%;
}
.workers .worker h3 {
  font-weight: bold;
  font-size: 28px;
}
.workers .worker p {
  color: #c1d3e2;
}
.workers .worker i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 25px;
  line-height: 45px;
}
.workers .worker i:first-of-type {
  background-color: #e23b3b;
}
.workers .worker i:nth-of-type(2) {
  background-color: #175bee;
}
.workers .worker i:nth-of-type(3) {
  background-color: #17ceee;
}
.workers .worker i:nth-of-type(4) {
  background-color: #006699;
}

.subscribe {
  padding: 70px 0;
  border-radius: 0 0 70px 70px;
  background: #cc2b5e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.subscribe h3 {
  margin: 0 0 30px;
  font-size: 30px;
  color: #dab6b6;
  font-weight: bold;
}
@media (max-width: 768px) {
  .subscribe input {
    margin-bottom: 20px;
  }
}

.statistics {
  background: url(../images/03.jpg) no-repeat center center fixed;
  background-size: cover;
  border-radius: 70px 70px 0 0;
}
.statistics .overlaay {
  border-radius: 70px 70px 0 0;
  padding: 70px 0;
  background-color: rgba(0, 0, 0, 0.664);
}
.statistics .overlaay .state {
  color: #eee;
}
.statistics .overlaay .state span {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.statistics .overlaay .state i {
  color: gray;
}
.statistics .overlaay .state i:hover {
  color: var(--maincolors);
}

.our-skills {
  padding: 70px 0;
}
.our-skills .progressing {
  padding-top: 30px;
}
.our-skills .progressing .progress {
  height: 40px;
}
.our-skills .progressing .progress .progress-bar {
  line-height: 40px;
  text-align: left;
  text-indent: 20px;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
}
.our-skills .progressing .progress .progress-bar > div {
  overflow: hidden;
}
.our-skills .progressing .progress .progress-bar > div p {
  width: calc(100% - 75px);
  float: left;
}
.our-skills .progressing .progress .progress-bar > div span {
  width: 75px;
  float: right;
}
.our-skills button {
  background-color: var(--maincolors);
  color: white;
}

.contact-us {
  background: url(../images/05.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}
.contact-us .ovarlaay {
  padding: 70px 0;
  background-color: rgba(0, 0, 0, 0.664);
}
.contact-us .ovarlaay h2 {
  margin: 5px 0 25px;
}
.contact-us .ovarlaay form input, .contact-us .ovarlaay form textarea {
  background-color: rgba(82, 79, 79, 0.808);
  border: none;
  outline: none;
  color: white;
}
.contact-us .ovarlaay form textarea {
  height: 110px;
  resize: none;
}
.contact-us .ovarlaay form input::placeholder, .contact-us .ovarlaay form textarea::placeholder {
  color: #fff;
}
.contact-us .ovarlaay form button {
  height: 43px;
  background-color: var(--maincolors);
}

footer {
  background-color: #333;
  color: #cabebe;
  padding: 30px 0 0;
}
footer .row > div {
  margin-bottom: 30px;
}
footer .social h3 {
  margin-top: 20px;
}
footer .social p {
  font-size: 15px;
  margin-bottom: 40px;
}
footer .social i {
  margin: 0 5px;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
footer .social i:first-of-type {
  background-color: #175bee;
}
footer .social i:nth-of-type(2) {
  background-color: #17ceee;
}
footer .social i:nth-of-type(3) {
  background-color: #006699;
}
footer .social i:nth-of-type(4) {
  background-color: #e23b3b;
}
footer ul {
  margin-left: 20px;
}
footer ul li {
  padding: 15px;
  border-bottom: 1px solid #767676;
  color: #C3C3C3;
}
footer .blog h3 {
  padding-left: 15px;
}
footer .copyright {
  background-color: #494949;
  padding: 15px 0;
}
footer .copyright p {
  margin: 0;
}
footer .copyright p span {
  color: var(--maincolors);
}

body {
  overflow: hidden;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #56505c;
}
.loading .sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 100px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.loading .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.loading .sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00a2ff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.loading .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.loading .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.loading .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.loading .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loading .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.sctop {
  width: 50px;
  height: 50px;
  background-color: var(--maincolors);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
}
.sctop i {
  display: none;
  color: white;
}
.sctop:hover {
  bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
