@mixin transition($type ,$duration ,$tfunction) {
    -webkit-transition: $type $duration $tfunction;
    -moz-transition: $type $duration $tfunction;
    -o-transition: $type $duration $tfunction;
    -ms-transition: $type $duration $tfunction;
    transition: $type $duration $tfunction;
}
$maincolor: #27ae62;
$navcolor : #101b24;
*{text-transform: capitalize}
body {
    height: 4000px;
}

// bootstrap nav

.navbar { // main nav
    border-radius: 0px 0 0 40px;
}
.navbar-inverse { //main nav style

    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid $navcolor;
    

    .navbar-header {
        .navbar-brand { // brand
            font-size: 25px;
            &::first-letter{
                color: $maincolor;
                background-color: rgb(28, 46, 61);
                padding-left: 9px;
                border-radius: 50% 0 0 50%;
            }
            &:hover,&:focus {
                color: $maincolor;
            }
        }
    }
    .navbar-nav { // nav content
        > li {
            font-size: 17px;
            &:last-of-type {
                overflow: hidden;

            }
            &:hover  {
                background-color: rgba(29, 41, 53, 0.8);
            }
        }
         > .active {
              > a {
                background-color: $maincolor;
                &:hover {
                    background-color: rgba(39, 174, 98,0.85)
                }
            }
        }
    }
    .dropdown-menu { // services dromdown menu
        background-color: $navcolor;
        border-top:3px solid $maincolor;
        min-width: 200px;
        .divider {
            height: 2px;
            background-color: $maincolor;
        }
        > li {
            > a {
                text-transform: uppercase;
                color: #fff;
                @include transition(padding,0.2s ,ease-in)
            }
            &:hover a {
                color: $navcolor;
                padding-left: 30px;
            }
        }
    }
}
// bootstrap nav
// bootstrap carousel (slider)
.carousel-inner{ 
    &> .item {
        &> img {
            width: 100%;
        }
        .carousel-caption {
            top: 250px;
            line-height: 1.7 !important;
        }
    }
    .carousel-control {
        span.glyphicon-chevron-left,span.glyphicon-chevron-right {
            color: $maincolor;
        }
    }
}
.carousel-indicators {
    li {
        border: 2px solid white;
        width: 15px;
        height: 15px;
    }
    li.active {
        background-color: $maincolor;
        width: 15px;
        height: 15px;
    }
}
// bootstrap carousel (slider)
